html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  
  /*font-family: "Lato", sans-serif;
  font-size: 18px;
  background-size: cover;
  background-position: absolute;
  background-image: url("../images/tło.jpg");
  background-repeat:no-repeat;
  display: block;*/
  font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-image: url("../images/tło.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  


}

.container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.form {
  border-radius: 5px;
  border: 2px solid #ccc;
}

.form__legend {
  font-size: 30px;
  color: rgb(53, 0, 139);
}

.form__labelText {
  width: 100%;
  display: inline-block;
  width: 250px;
  text-align: left;
}

.form__field {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form__button {
  width: 100%;
  padding: 10px;
  background-color: hsl(32, 68%, 42%);
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
}

.form__button:hover {
  background-color: hsl(326, 15%, 46%);
}

.form__button:active {
  background-color: hsl(180, 15%, 66%);
}

.form__result {
  font-size: 20px;
}

.form__result--value {
  color: darkcyan;
  font-weight: bold;
}
.formularz__info{
  color: burlywood;
}
